/* styles.css */

html {
  font-size: 10px;
  color: #333;
  font-family: "Arimo", sans-serif;
}

a {
  color: #08c;
}

a:link,
a:visited,
a:active {
  color: rgb(0, 136, 204);
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: auto auto 98rem auto auto;
  grid-template-rows: 8rem 3.7rem auto 20rem auto;
  grid-template-areas:
    ". . . . ."
    ". . nav . ."
    ". . header . ."
    ". promos promos promos ."
    ". . footer . .";
}

.hero,
.header-background,
.promos {
  /* max-width: 144rem; */
}

.hero {
  grid-row: 1 / 4;
  grid-column: 2 / 5;
  background-image: url(assets/your_verse_hero.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  /* height: 80rem; */
}

.nav {
  grid-area: nav;
  background-color: gray;
}

.header {
  grid-area: header;
  text-align: center;
}

.header a {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.header h1 {
  font-size: 6.5rem;
  letter-spacing: -0.2rem;
}

.header h2 {
  font-size: 3.5rem;
  letter-spacing: -0.2rem;
  line-height: 4rem;
}

.header #cta {
  font-size: 2.5rem;
}

.header-background {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
  background-image: url(assets/your_verse_scrim.png);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 2.5rem 100%;
}

.promos {
  grid-area: promos;
  display: flex;
}

.promos a {
}

.promos img {
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: footer;
  background-color: orange;
}
